.calculated-cnt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #070d47;
    border-radius: 5px;
    padding: 1rem;
    min-width: 300px;
}

.calculated-cnt label {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    display: inline-block;
    width: 120px;
}

.calculated-cnt span {
    font-family: sans-serif;
}
