.joke-input-field {
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    min-height: 100px;
    width: 40vw;
    align-self: center;
    transform: translateY(-15vh);
    border: 2px solid #070d47;
    background-color: aliceblue;
    max-height: 300px;
    max-width: 800px;
    min-width: 300px;
    padding: 0.5rem;
    border-radius: 4px;
    color: #070d47;
}

.css-0 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.predicted-div {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.css-0 span {
    background-color: #7cecc1;
}

.calculate-humor-button {
    width: 120px;
    padding: 10px;
    height: 50px;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    outline: none;
    align-self: center;
    transform: translateY(-18vh);
    margin-left: 2rem;
    cursor: pointer;
}

.calculate-again-button {
    width: 120px;
    padding: 10px;
    height: 50px;
    font-size: 1.1rem;
    font-family: Roboto, sans-serif;
    outline: none;
    align-self: center;
    cursor: pointer;
    margin-top: 0.5rem;
}

.span-output {
    align-self: center;
}


@media screen and (max-width: 900px) {
    .joke-input-field {
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .joke-input-field {
        width: 80vw;
    }
}

@media screen and (min-width: 1500px) {
    .joke-input-field {
        width: 25vw;
    }
}

.input_cnt {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    min-height: calc(100vh - 72px);
}
